fastapi
uvicorn
python-multipart
jinja2
datasets
langchain
langchain-community
langchain-chroma
langchain-ollama
chromadb
ollama
python-dotenv
pydantic
tqdm
funasr
torch
torchaudio
soundfile
pyttsx3
numpy
num2words
spacy
rank_bm25
langchain.retrievers